<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Smart Placement System{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/dsa">DSA</a>
        <a href="/subjects">Subjects</a>
        <a href="/projects">Projects</a>
        <a href="/tasks">Tasks</a>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>